


{% if user.is_authenticated %}
    <h1>로그인한 상태입니다</h1>
    {% if user.is_kakao == True %}
    <!-- 카카오로 로그인한 경우-->
    <a href="{% url 'logout_with_kakao' %}">Logout</a>
    {% else %}
    <!--일반 로그인으로 로그인한 경우-->
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}

<!-- 위는 로그인의 경우,아래는 로그인 아닌 경우 -->

{% else %}
    <h1>로그인한 상태가 아닙니다</h1>
<!--<a href="{% url 'login_home' %}">로그인/회원가입 페이지 이동</a>-->
    
<a button type="button" href="{% url 'email_login' %}">LOG IN</a>
<a button type="button" href="{% url 'signup_email' %}">REGISTER</a>
<a href="{%url 'kakao_login' %}">KAKAO</a>
{% endif %}