{% load static %}
<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1">
        <title>잘못된 페이지</title>
        <link rel="stylesheet" href="{% static 'css/password-reset-complete.css' %}">
    
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!--kakaotalk thumbnail-->
    <meta property="og:url" content="https://www.applionsg.com/">
    <meta property="og:title" content="멋쟁이 사자처럼 10기 지원하기">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'Thumbnail.png' %}">
    <meta property="og:description" content="내 손으로 내 아이디어를 실현한다">
</head>

    <body>
        <header>
            <a href="{% url 'index'%}"
            ><img src="{% static 'logo-white.png'%}" alt="" />
            <span id="logo-title">10TH LIKELION SOGANG</span></a
          >

        </header>
        <main>
            <div>
                <h2>지원서 제출기한이 <br>종료되었습니다.</h2>
                <img class="img-logo" src="{% static 'logo-color.png' %}" />
            </div>
        </div>

        <div class="login-container">


                <br />
                <a href="{% url 'index' %}"
                    style="width : 70%">
                    <button class="btn key" value="Login"
                    style="width : 200px ;
                           margin: 0 auto">
                        홈으로 돌아가기
                    </button>
                </a>
                <br />

        </div>
    </main>
    <footer>
        <a href="{% url 'index' %}"><button class="btn-prev">‹ Home</button></a>
    </footer>
</body>