{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멋쟁이 사자처럼 지원하기</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>

<script language="javascript">
  function init() {
    alert("안녕 세계야!");
  }
</script>

 

<body onload="delLoad();">
   
    <div class="loading" >
        <div class="loading-box">
            <img src="../static/logo-line.png" alt="">
            <div class="red-box red-box1">
                <div class="rb1 rb">

                </div>
            </div>
            <div class="red-box red-box2">
                <div class="rb2 rb">
                    
                </div>
            </div>
        </div>
        <div class="loadtext">
            잠시만 기다려주세요~

        </div>
    </div>
    <div id="all">
        <header>
            <img src="../static/logo.svg" alt="">
            <span id="logo-title">10TH LIKELION SOGANG</span>
            <span id="logo-title-mo">10TH LIKELION SOGANG</span>

            {% if user.is_authenticated %}
                <a href="{% url 'user_info' %}"><button>지금 바로 지원하기 ▶</button></a>
            {% else %}
                <a href="{% url 'signup_email' %}"><button>지금 바로 지원하기 ▶</button></a>
            {% endif %}
        </header>

            <div id="logo-title-mo" class="pagecomp pagecomp1">10TH LIKELION</div>
            <div id="logo-title-mo" class="pagecomp pagecomp1"> SOGANG</div>



        <!-- 페이지2 컴포넌트 -->
        <div class="page2 page" >
            <h1 class="pagecomp pagecomp2">
                내 아이디어를
                <br>내 손으로 실현한다
            </h1>
            <h6 class="pagecomp pagecomp2">
                '멋쟁이 사자처럼 대학생'은 <br>
                꿈이 있는 자들에게 <br>
                코딩이라는 도구를 제공하기 위해 만들어졌습니다.
            </h6>
        </div>

        <!-- 페이지3 컴포넌트 -->
        <div class="page3 page">

            <h1 class="pagecomp pagecomp3">지원일정</h1>

            <div class="pagecomp pagecomp3" id="date-box">
                서류지원 : 2022.02.21 ~ 2022.03.13 <br>
                서류 발표 : 2022.03.15 <br>
                면접 : 2022.03.16 ~ 2022.03.22 <br>
                최종 결과 발표 : 2022.03.25
            </div>
        </div>
        <!-- 페이지4 컴포넌트 -->
        <div class="page4 page">

            <div class="page4-left pagecomp pagecomp4">
                <h1>
                    개발 기본 과정을 <br>
                    함께 배웁니다
                </h1>
            </div>

            <div class="page4-right pagecomp pagecomp4">
                <div class="codelion">
                    <div class="codelion-text">
                        멋쟁이 사자처럼 10기부터 모든 아기사자들은 <br>
                        Codelion 사이트에서 진행되는 개발 강의를 듣게 됩니다. <br>
                    </div>
                    <a href="https://www.codelion.net/"><button>Codelion둘러보기</button></a>
                </div>
                <div class="tmts">
                    <div class="tmt">
                        <div class="tmt-num">
                            01
                        </div>
                        <div class="tmt-text">
                            <h5>
                                서비스 구현에 필요한 기본적인 개발 지식을 배웁니다.
                            </h5>
                            <h6>
                                프론트엔드, 백엔드 , 풀스택 개발자까지. <br>
                                서비스를 만드는데 필요한 개발 지식을 배웁니다. <br>
                                디자이너와 기획자들도 꼭 알아야할 기본적인 개발지식을 다룹니다. <br>
                                물론 그 이상을 원하신다면 개발트랙에서 심화된 내용을 배울 수 있어요. <br>
                                HTML, CSS, Javascript / Django / Python
                            </h6>
                        </div>
                    </div>
                    <div class="tmt">
                        <div class="tmt-num">
                            02
                        </div>
                        <div class="tmt-text">
                            <h5>
                                팀을 이뤄 서비스를 만듭니다 </h5>
                            <h6>
                                만들고 싶은 서비스가 있으신가요? <br>
                                팀원들과 생각을 나누고, 가치있는 서비스를 만들어보세요. <br>
                                여러분의 서비스가 사용자에게 닿는 순간까지, 멋사가 돕겠습니다.<br>
                                아이디에이션 ▶ 기획 ▶ 개발 ▶ 배포 ▶ 유저관리
                            </h6>
                        </div>
                    </div>
                    <div class="tmt">
                        <div class="tmt-num">
                            03
                        </div>
                        <div class="tmt-text">
                            <h5>
                                함께 아이디어를 공유합니다 </h5>
                            <h6>
                                다른 사람들은 어떤 서비스를 만들었을까요?<br>
                                서로의 생각을 나누면서 성장하는 시간을 가져봅시다.<br>
                                ▶ 43개 대학의 멋사인들과 함께하는 해커톤<br>
                                ▶ 멋사 서강만의 해커톤<br>
                                ▶ 연세대, 이화여대, 서강대가 함께하는 ‘신촌톤’
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 페이지5컴포넌트 -->
        <div class="page5 page">
            <h1 class="pagecomp pagecomp5">
                새롭게 도입된 <br>
                디자인&기획 과정
            </h1>
            <div class="pagecomp pagecomp5 min-box">
                <h5>
                    멋쟁이 사자처럼의 수석 디자이너 김지홍님이 <br>
                    직접 진행하시는 UI/UX강의를 제공합니다.
                </h5>

                <h6>
                    이런 분들에게 추천드려요 <br>
                    ▶ 디자이너로서 UI/UX에 관심이 있으신 분<br>
                    ▶ IT업계에서 디자이너로 일하기 위해 기초 개발지식이 필요하신 분<br>
                    ▶ 실무를 위해 개발의 전반적인 과정을 알고 싶은 디자이너<br>
                </h6>
            </div>
            <div class="pagecomp pagecomp5 min-box">
                <h5>
                    멋쟁이 사자처럼의 PM 이지훈님이 <br>
                    직접 진행하시는 UI/UX강의를 제공합니다.
                </h5>
                <h6>
                    이런 분들에게 추천드려요 <br>
                    ▶ 고객 경험에 관심이 있으신 분<br>
                    ▶ <br>
                    ▶ <br>
                </h6>
            </div>
        </div>

        <section class="page4 page">

        </section>

        <!-- 영상 길이만큼 높이 맞추기 -->
        <div id="video-scroll" ></div>
        <div id="video-con">
            <video id="v0" tabindex="0" , autobuffer preload muted="muted">
                <source type='video/mp4;' src="{% static 'background.mp4'%}">
                </source>
            </video>
        </div>


        <footer class="page6 ">
            <div class="text">
                <h1>HACK YOUR <br>LIFE</h1>
                <h6>LIKELION SOGANG</h6>
            </div>
            <div class="icons">
                <a href=""><img src="../static/Facebook - Negative.svg" alt=""></a>
                <a href=""><img src="../static/Instagram - Negative.svg" alt=""></a>
                <a href=""><img src="../static/EnvelopeSimple.svg" alt=""></a>
            </div>

        </footer>
    </div>
    <script src="{% static 'js/home.js'%}"></script>
</body>

</html>