{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../static/css/user_info.css"> -->
    <title>멋쟁이 사자처럼 지원하기</title>
    <link rel="stylesheet" href="{% static 'css/user_info.css'%}" />
  
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!--kakaotalk thumbnail-->
    <meta property="og:url" content="https://www.applionsg.com/">
    <meta property="og:title" content="멋쟁이 사자처럼 10기 지원하기">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'Thumbnail.png' %}">
    <meta property="og:description" content="내 손으로 내 아이디어를 실현한다">
</head>

  <body>
    <header>
      <a href="{% url 'index'%}"
        ><img src="{% static 'logo-white.png'%}" alt="" />
        <span id="logo-title">10TH LIKELION SOGANG</span></a
      >

      <a href="{% url 'logout'%}"> <button>Log out</button></a>
    </header>
    <div class="progress-bar">
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
    </div>
    <div class="form">
      <form id="form_id" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input-duo">
          <label for="">이름</label>
          <input
            type="text"
            class=""
            name="name"
            value="{{user.name}}"
            disabled
          />
        </div>
        <div class="input-duo">
          <label for="">학번</label>
          <input
            type="text"
            class=""
            name="student_id"
            value="{{user.student_id}}"
            disabled
          />
        </div>
        <div class="input-duo">
          <label for="">학과</label>
          <input
            type="text"
            class="long-input"
            name="major"
            value="{{user.major}}"
            disabled
          />
        </div>
        <div class="input-duo">
          <label for="">내가 선택한 <span>포지션</span>은</label>
          <select name="position" id="position" >{{user.position}}
            <option {% if user.position == "기획" %}selected{% endif %} value="기획">기획</option>
            <option {% if user.position == "디자인" %}selected{% endif %} value="디자인">디자인</option>
            <option {% if user.position == "프론트엔드" %}selected{% endif %} value="프론트엔드">프론트엔드</option>
            <option {% if user.position == "백엔드" %}selected{% endif %} value="백엔드">백엔드</option>
          </select>
        </div>
        <div class="next-div">
          <div class="a" onclick="document.getElementById('form_id').submit();">
            Next
          </div>
        </div>
        <div class="bottom">
          <span>지원서는 22.03.13까지 로그인 후 수정 가능합니다.</span>
        </div>
      </form>
    </div>
  </body>
</html>
