{% load static %}
<!DOCTYPE html>

<head>
  <title>Email Login Form</title>
  <meta name="viewport" content="width=device-width, initial-scale-1" />
  <link rel="stylesheet" href="{% static 'css/email-login.css' %}" />
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

  <!--favicon-->
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="{% static 'favicon/apple-icon-57x57.png' %}"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="{% static 'favicon/apple-icon-60x60.png' %}"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="{% static 'favicon/apple-icon-72x72.png' %}"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="{% static 'favicon/apple-icon-76x76.png' %}"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="{% static 'favicon/apple-icon-114x114.png' %}"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="{% static 'favicon/apple-icon-120x120.png' %}"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="{% static 'favicon/apple-icon-144x144.png' %}"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="{% static 'favicon/apple-icon-152x152.png' %}"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{% static 'favicon/apple-icon-180x180.png' %}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="{% static 'favicon/android-icon-192x192.png' %}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static 'favicon/favicon-32x32.png' %}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="{% static 'favicon/favicon-96x96.png' %}"
  />

  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static 'favicon/favicon-16x16.png' %}"
  />
  <link rel="manifest" href="{% static 'favicon/manifest.json' %}" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta
    name="msapplication-TileImage"
    content="{% static 'favicon/ms-icon-144x144.png' %}"
  />
  <meta name="theme-color" content="#ffffff" />

  <!--kakaotalk thumbnail-->
  <meta property="og:url" content="https://www.applionsg.com/" />
  <meta property="og:title" content="멋쟁이 사자처럼 10기 지원하기" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% static 'Thumbnail.png' %}" />
  <meta property="og:description" content="내 손으로 내 아이디어를 실현한다" />
</head>

<body>
  <header>
    <a href="{% url 'index'%}">
      <img src="{% static 'logo-white.png'%}" alt="" />
      <div id="logo-title">10TH LIKELION SOGANG</div>
    </a>
  </header>
  <main>
    <div class="container">
      <div class="img">
        <h2>Login</h2>
        <img src="{% static 'logo-color.png' %}" />
      </div>
    </div>

    <div class="login-container">
      <div>
        <form method="POST">
          {% csrf_token %}
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-solid fa-envelope"></i>
            </div>
            <div>
              <h1>ererer</h1>
              <input
                name="email"
                class="input"
                required
                id="id_email"
                type="text"
                value="{{email_remain}}"
                placeholder="이메일"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='이메일'"
              />
            </div>
          </div>
          <div class="input-div two">
            <div class="i">
              <i class="fas fa-solid fa-key"></i>
            </div>
            <div>
              <input
                name="password"
                class="input"
                required
                id="id_password"
                type="password"
                placeholder="비밀번호"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='비밀번호'"
                ]
              />
            </div>
          </div>
          {% if already_signedup %}
          <p style="color: red">카카오 이메일로 이미 가입된 유저가 있습니다.</p>
          {% endif %} {% if error_email %}
          <p style="color: red">잘못된 이메일입니다.</p>
          {% endif %} {% if error_pw %}
          <p style="color: red">잘못된 비밀번호입니다.</p>
          {% endif %}
          <div class="linkto">
            <a href="{% url 'password_reset' %}">비밀번호를 잊어버리셨나요?</a>
            <a href="{% url 'signup_email' %}">아직 회원이 아니신가요?</a>
          </div>
          <br /><button type="submit" class="btn key" value="Login">
            로그인</button
          ><br />
        </form>
        <a href="{% url 'kakao_login' %}"
          ><button class="btn kakao">
            <img
              class="kakaologo"
              src="{% static 'kakao-logo.jpg'%}"
              alt=""
            />카카오 로그인
          </button></a
        >
      </div>
    </div>
  </main>
  <footer>
    <a href="{% url 'index' %}"><button class="btn-prev">‹ Home</button></a>
  </footer>
</body>
