{% load static %}
<!DOCTYPE html>

<head>
  <title>Email Login Form</title>
  <meta name="viewport" content="width=device-width, initial-scale-1" />
  <link rel="stylesheet" href="{% static 'css/email-login.css' %}" />
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
  <header>
    <a href="{% url 'index'%}">
      <img src="{% static 'logo-white.png'%}" alt="" />
      <div id="logo-title">10TH LIKELION SOGANG</div>
    </a>
  </header>
  <main>
    <div class="container">
      <div class="img">
        <h2>Login</h2>
        <img src="{% static 'logo-color.png' %}" />
      </div>
    </div>

    <div class="login-container">
      <div>
        <form method="POST">
          {% csrf_token %}
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-solid fa-envelope"></i>
            </div>
            <div>
              <h1>ererer</h1>
              <input
                name="email"
                class="input"
                required
                id="id_email"
                type="text"
                placeholder="{{email_remain}}"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='이메일'"
              />
            </div>
          </div>
          <div class="input-div two">
            <div class="i">
              <i class="fas fa-solid fa-key"></i>
            </div>
            <div>
              <input
                name="password"
                class="input"
                required
                id="id_password"
                type="password"
                placeholder="비밀번호"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='비밀번호'"
                ]
              />
            </div>
          </div>
          {% if already_signedup %}
          <p style="color: red">카카오 이메일로 이미 가입된 유저가 있습니다.</p>
          {% endif %} {% if error_email %}
          <p style="color: red">잘못된 이메일입니다.</p>
          {% endif %} {% if error_pw %}
          <p style="color: red">잘못된 비밀번호입니다.</p>
          {% endif %}
          <div class="linkto">
            <a href="{% url 'password_reset' %}">비밀번호를 잊어버리셨나요?</a>
            <a href="{% url 'signup_email' %}">아직 회원이 아니신가요?</a>
          </div>
          <br /><button type="submit" class="btn key" value="Login">
            로그인</button
          ><br />
        </form>

        <a href="{% url 'kakao_login' %}"
          ><button class="btn other">카카오톡으로 로그인</button></a
        >
      </div>
    </div>
  </main>
  <footer>
    <a href="{% url 'index' %}"><button class="btn-prev">‹ Home</button></a>
  </footer>
</body>
