{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <title>회원가입</title>
    <link rel="stylesheet" href="{%static 'css/email-login.css'%}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}" />

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}" />
    <meta name="theme-color" content="#ffffff" />

    <!--kakaotalk thumbnail-->
    <meta property="og:url" content="https://www.applionsg.com/" />
    <meta property="og:title" content="멋쟁이 사자처럼 10기 지원하기" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'Thumbnail.png' %}" />
    <meta property="og:description" content="내 손으로 내 아이디어를 실현한다" />
  </head>

  <body>
    <header>
      <a href="{% url 'index'%}">
        <img src="{% static 'logo-white.png'%}" alt="" />
        <div id="logo-title">10TH LIKELION SOGANG</div>
      </a>
    </header>

    <main>
      <div class="container">
        <div class="img">
          <h2>Register</h2>
          <img src="{% static 'logo-color.png' %}" />
        </div>
      </div>

      <div class="login-container">
        <form method="POST">
          {% csrf_token %}
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-solid fa-envelope"></i>
            </div>
            <div>
              {% if email_remain %}
              <h1>ererer</h1>
              <input name="email" class="input" required id="id_email" type="text" value="{{email_remain}}"
                placeholder="{{email_remain}}" onfocus="this.placeholder=''" onblur="this.placeholder='이메일'" />
              {% else %}
              <input name="email" class="input" required id="id_email" type="text" placeholder="이메일"
                onfocus="this.placeholder=''" onblur="this.placeholder='이메일'" />
              {% endif %}
            </div>
          </div>
          <div class="input-div two">
            <div class="i">
              <i class="fas fa-solid fa-key"></i>
            </div>
            <div>
              <input name="password1" class="input" type="password" required id="id_password1" placeholder="비밀번호"
                onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호'" />
            </div>
          </div>
          <div class="input-div third">
            <div class="i">
              <i class="fas fa-solid fa-check"></i>
            </div>
            <div>
              <input name="password2" class="input" type="password" required id="id_password2" placeholder="비밀번호 확인"
                onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호 확인'" />
            </div>
          </div>
          <div class="linkto">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <p style="color: red">{{error}}</p>
            {% endfor %}
            {% endfor %}
            <a href="{% url 'email_login' %}">이미 회원이신가요?</a>
          </div>
          <br /><button type="submit" class="btn key" value="Login">다음</button><br />
        </form>
        
        <a class = "kakao-a-tag"href="{% url 'kakao_login' %}">
          <button class="btn kakao">
            <img class="kakaologo" src="{% static 'kakao-logo.jpg'%}" alt="" />카카오 회원가입
          </button>
        </a>

      </div>
    </main>
    <footer>
      <a href="{% url 'index' %}"><button class="btn-prev">‹ Home</button></a>
    </footer>
  </body>


</html>