{% load static %}
<!DOCTYPE html>
  <head>
    <title>Password Reset Form</title>
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <link rel="stylesheet" href="{% static 'css/email-login.css' %}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  </head>

  <body>
    <header>
      <img src="logo-white.png" alt="" />
      <span id="logo-title">10TH LIKELION SOGANG</span>
    </header>
    <main>
      <div class="container">
        <div class="img-kor">
          <h2>비밀번호를<br>잊어버리셨나요?</h2>
          <img src="{% static 'logo-color.png' %}" />
        </div>
      </div>

      <div class="login-container">
        <form method="POST">
          {% csrf_token %}
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-solid fa-envelope"></i>
            </div>
            <div>
              <input
                class="input"
                type="text"
                placeholder="이메일"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='이메일'"
              />
            </div>
          </div>
          <br /><button type="submit" class="btn key" >비밀번호 재설정 요청</button><br />
              <button type="submit" class="btn other">확인 메일 재전송</button>
              <button class="btn other">로그인하러 가기</button>
          </div>
            {% for field in form %}
                <div>
                {{ field.label }} : {{ field }}
                <p style="color:red;">해당 이메일로 가입된 유저가 없습니다.</p>
                </div>
            {% endfor %}
        </form>
    </main>
    <footer>
    </footer>
  </body>