{% load static %}
<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1">
        <title>비밀번호 변경 완료</title>
        <link rel="stylesheet" href="{% static 'css/password-reset-complete.css' %}">
    </head>

    <body>
        <header>
            <a href="{% url 'index'%}">
              <img src="{% static 'logo-white.png'%}" alt="" />
              <div id="logo-title">10TH LIKELION SOGANG</div>
            </a>
          </header>
        <main>
            <div>
                <h2>비밀번호 <br>재설정 완료</h2>
                <img class="img-logo" src="{% static 'logo-color.png' %}" />
            </div>
        </div>

        <div class="login-container">


                <br />
                <a href="{% url 'email_login' %}"
                    style="width : 70%">
                    <button class="btn key" value="Login"
                    style="width : 200px ;
                           margin: 0 auto">
                        로그인하러 가기
                    </button>
                </a>
                <br />

        </div>
    </main>
    <footer>
        <a href="{% url 'index' %}"><button class="btn-prev">‹ Home</button></a>
    </footer>
</body>