<!Doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1">
        <title>비밀번호 변경 완료</title>
        <link rel="stylesheet" href="password-reset-complete.css">
    </head>

    <body>
        <header>
            <img src="logo-white.png" alt="">
            <span id="logo-title">10TH LIKELION SOGANG</span>
        </header>
        <main>
            <div>
                <h2>비밀번호 <br>재설정 완료</h2>
                <a href="{% url 'email_login' %}"><button class="btn">로그인하러 가기</button></a>
            </div>
        </main>
        <footer>
            <a href="{% url 'login_home' %}"><button class="btn-prev">‹ Prev</button></a>
        </footer>
    </body>
</html>
