{% load static %}
<!DOCTYPE html>
  <head>
    <title>Password Reset Form</title>
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <link rel="stylesheet" href="{% static 'css/email-login.css' %}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  </head>

  <body>
    <header>
      <a href="{% url 'index'%}">
        <img src="{% static 'logo-white.png'%}" alt="" />
        <div id="logo-title">10TH LIKELION SOGANG</div>
      </a>
    </header>
    <main>
      <div class="container">
        <div class="img-kor">
          <h2>비밀번호를<br>잊어버리셨나요?</h2>
          <img src="{% static 'logo-color.png' %}" />
        </div>
      </div>

      <div class="login-container">
        <form method="POST">
          {% csrf_token %}
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-solid fa-envelope"></i>
            </div>
            <div>
              <input
                class="input"
                type="text"
                placeholder="이메일"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='이메일'"
              />
            </div>
            {{form}} 
            <!--이 부분 form 형태 아닌 input으로 제츌하면-->
            <!--뷰가 제대로 작동을 안해서 (재전송요청 누르고 안 넘어감) 임시 방면으로 폼을 추가해놓았어요-->
          </div>
          <p style="color:red;">입력해주신 이메일로 비밀번호 재전송 url 메일을 보냈습니다</p>
          <br /><button type="submit" class="btn key" >비밀번호 재설정 요청</button><br />
              <button type="submit" class="btn other">확인 메일 재전송</button>
          </div>
        </form>
    </main>
    <footer>
    </footer>
  </body>
