{% if validlink %}
{% load static %}
<!DOCTYPE html>
  <head>
    <title>Password Reset Form</title>
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <link rel="stylesheet" href="{% static 'css/email-login.css' %}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  </head>

  <body>
    <header>
      <img src="logo-white.png" alt="" />
      <span id="logo-title">10TH LIKELION SOGANG</span>
    </header>
    <main>
      <div class="container">
        <div class="img-kor">
          <h2>비밀번호를<br>변경해주세요</h2>
          <img src="{% static 'logo-color.png' %}" />
        </div>
      </div>

      <div class="login-container">
        <form method="POST">
          {% csrf_token %}
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-solid fa-password"></i>
            </div>
            <div>
                <input
                    class="input"
                    name="password"
                    type="password"
                    placeholder="새 비밀번호"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='새 비밀번호'"
                ]
              />
            </div>
          </div>
          <div class="password-change-alert">
            <ul style="list-style-type: circle;">
                <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
                <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
            </ul>
          </div>
          
          <div class="input-div two">
            <div class="i">
              <i class="fas fa-solid fa-password"></i>
            </div>
            <div>
                <input
                    class="input"
                    name="password"
                    type="password"
                    placeholder="새 비밀번호 확인"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='새 비밀번호 확인'"
                ]
              />
            </div>
          </div>
          <br /><button type="submit" class="btn key" value="비밀번호 재설정">비밀번호 변경</button><br />
        </div>
        </form>
    </main>
    <footer>
    </footer>
  </body>
{% else %}

<p>유효하지 않은 링크입니다</p>

{% endif %}