@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
 a {
     color: #fff;
     text-decoration: none;
     outline: none
 }

 a:hover,
 a:active {
     text-decoration: none;
     color: #fff;
     background-color: #f59000;
 }




*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
}

/*헤더*/
header{
    position:relative;
    height:8rem;
    text-align: center;
    display: flex;
    background-color: #B80E18;
    width:100%;
    padding: 0 8%;
    color:white;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
}
header img{
    width:3rem;
}
header a{
    display: flex;
}

main{
    background-color: #04080F;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2{
    color:#ffffff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.img-logo {
    width: 350px;
}
.btn{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 2rem 0;
    font-size: 1rem;
    cursor:pointer;
    font-weight: 900;
    border: none;
    outline: white solid 0.05rem;
    background-color:#B80E18;
    color: white;
}

footer{
    height:10vh;
    display: flex;
    background-color: #B80E18;
    width:100%;
    padding: 0 3%;
    background-color: #04080F;
}

.btn-prev{
    display: block;
    height: 30px;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0 auto;
    cursor:pointer;
    color: white;
    opacity: 70%;
    background-color: #04080F;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
}